<section id="assortment" class="assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/stylish_and_spacious_tote_bag_1x_desctop.jpg 1x,
                /img/assortment/stylish_and_spacious_tote_bag_2x_desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/spacious_tote_bag_1x_tablet.jpg 1x,
                /img/assortment/spacious_tote_bag_2x_tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/stylishandspacioustotebag1x.jpg 1x,
                /img/assortment/stylishandspacioustotebag2x.jpg 2x
              "
              src="/img/assortment/stylishandspacioustotebag1x.jpg"
              alt="EcoBag Classic"
              class="card-img"
              width="288"
              height="346"
            />
          </picture>

          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoBag Classic</h3>
              <p class="card-description">
                Елегантна та містка сумка для щоденного використання.
              </p>
            </div>
            <p class="card-price">$25</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/strong_shopping_1x_desctop.jpg 1x,
                /img/assortment/strong_shopping_2x_desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/strong_shopping_tote_1x_tablet.jpg 1x,
                /img/assortment/strong_shopping_tote_2x_tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/strongshoppingtote1x.jpg 1x,
                /img/assortment/strongshoppingtote2x.jpg 2x
              "
              src="/img/assortment/strongshoppingtote1x.jpg"
              alt="EcoTote Shopper"
              class="card-img"
              width="288"
              height="346"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoTote Shopper</h3>
              <p class="card-description">
                Ідеальна для покупок, з посиленими ручками.
              </p>
            </div>
            <p class="card-price">$30</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/eco-backpack-urban-1x-desctop.jpg 1x,
                /img/assortment/eco-backpack-urban-2x-desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/eco-backpack-urban-1x-tablet.jpg 1x,
                /img/assortment/eco-backpack-urban-2x-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/eco-backpack-urban-1x-mobile.jpg 1x,
                /img/assortment/eco-backpack-urban-2x-mobile.jpg 2x
              "
              src="/img/assortment/eco-backpack-urban-1x-mobile.jpg"
              alt="EcoBackpack Urban"
              class="card-img"
              width="288"
              height="345"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoBackpack Urban</h3>
              <p class="card-description">
                Зручний рюкзак для міста з відділенням для ноутбука.
              </p>
            </div>
            <p class="card-price">$45</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/compact_crossbody_bag_1x_desctop.jpg 1x,
                /img/assortment/compact_crossbody_bag_1x_desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compact_crossbody_bag_1x_tablet.jpg 1x,
                /img/assortment/compact_crossbody_bag_2x_tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/compactcrossbodybag1x.jpg 1x,
                /img/assortment/compactcrossbodybag2x.jpg 2x
              "
              src="/img/assortment/compactcrossbodybag1x.jpg"
              alt="EcoCrossbody Mini"
              class="card-img"
              width="288"
              height="345"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoCrossbody Mini</h3>
              <p class="card-description">
                Компактна сумка через плече для найнеобхіднішого.
              </p>
            </div>
            <p class="card-price">$20</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/eco-lunch-bag-1x-desctop.jpg 1x,
                /img/assortment/eco-lunch-bag-2x-desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/insulated_lunch_bag_1x_tablet.jpg 1x,
                /img/assortment/insulated_lunch_bag_2x_tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/smallinsulatedlunchbag1x.jpg 1x,
                /img/assortment/smallinsulatedlunchbag2x.jpg 2x
              "
              src="/img/assortment/smallinsulatedlunchbag1x.jpg"
              alt="EcoLunch Bag"
              class="card-img"
              width="288"
              height="346"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoLunch Bag</h3>
              <p class="card-description">
                Стильна та практична сумка для обідів.
              </p>
            </div>
            <p class="card-price">$15</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/relaxed_beach_tote_bag_1x_desctop.jpg 1x,
                /img/assortment/relaxed_beach_tote_bag_2x_desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/relaxed_beach_tote_bag_1x_tablet.jpg 1x,
                /img/assortment/relaxed_beach_tote_bag_2x_tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/eco-beach-tote.jpg   1x,
                /img/assortment/eco-beach-tote2x.jpg 2x
              "
              src="/img/assortment/eco-beach-tote.jpg"
              alt="EcoBeach Tote"
              class="card-img"
              width="288"
              height="346"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoBeach Tote</h3>
              <p class="card-description">
                Велика сумка для пляжних речей з водонепроникною підкладкою.
              </p>
            </div>
            <p class="card-price">$35</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/travel_duffle_bag_1x_desctop.jpg 1x,
                /img/assortment/travel_duffle_bag_2x_desctop.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/eco-travel-duffle.jpg   1x,
                /img/assortment/eco-travel-duffle2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/spacioustraveldufflebag1x.jpg 1x,
                /img/assortment/spacioustraveldufflebag2x.jpg 2x
              "
              src="/img/assortment/spacioustraveldufflebag1x.jpg"
              alt="EcoTravel Duffle"
              class="card-img"
              width="288"
              height="346"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoTravel Duffle</h3>
              <p class="card-description">
                Містка дорожня сумка з додатковими кишенями.
              </p>
            </div>
            <p class="card-price">$60</p>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb-item">
          <picture>
            <source
              srcset="
                /img/assortment/eco-kids-bad-desctop-1x.jpg 1x,
                /img/assortment/eco-kids-bad-desctop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/eco-kids-bad-1x-tablet.jpg 1x,
                /img/assortment/eco-kids-bad-2x-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                /img/assortment/eco-kids-bag1.jpg 1x,
                /img/assortment/eco-kids-bag2.jpg 2x
              "
              src="/img/assortment/eco-kids-bag1.jpg"
              alt="EcoKids Bag"
              class="card-img"
              width="288"
              height="345"
            />
          </picture>
          <div class="thumb-card">
            <div class="thumb">
              <h3 class="card-title">EcoKids Bag</h3>
              <p class="card-description">Яскрава та зручна сумка для дітей.</p>
              <p class="card-price">$22</p>
            </div>
          </div>
          <button class="assortment-btn" type="button">Купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
