<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>          
            <source
            srcset="/img/gallery/eco_tote_placed_on_a_chair_1x_desktop.jpg 1x,
              /img/gallery/eco_tote_placed_on_a_chair_2x_desktop.jpg 2x"
            media="(min-width: 1440px)"/>
           <source
            srcset="
              /img/gallery/eco_tote_placed_on_a_chair_1x_tablet.jpg 1x,
              /img/gallery/eco_tote_placed_on_a_chair_2x_tablet.jpg 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/ecototeplaced1x.jpg 1x,
              /img/gallery/ecototeplaced2x.jpg 2x"/>       
          <img src="/img/gallery/ecototeplaced1x.jpg" alt="An eco tote placed on a chair or beside a table at a cozy coffee shop. There’s a cup of coffee, a book or a laptop nearby. The setting is minimal and aesthetic, evoking slow lifestyle and conscious choices."/>
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/stylish_person_carries_a_tote_bag_1xdesktop.jpg 1x,
              /img/gallery/stylish_person_carries_a_tote_bag_2xdesktop.jpg 2x"
            media="(min-width: 1440px)"/>
          <source
            srcset="
              /img/gallery/stylish_person_carries_1x_tablet.jpg 1x,
              /img/gallery/stylish_person_carries_2x_tablet.jpg 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/stylishperson1x.jpg 1x,
              /img/gallery/stylishperson2x.jpg 2x"/>
          <img src="/img/gallery/stylishperson1x.jpg" alt="A city scene where a stylish person carries a tote bag while crossing a street or standing at a crosswalk. Urban backdrop, bicycles, pedestrians, and modern architecture in the background. The bag is modern, clean, and fashionable."
        /></picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/person_walking_through_a_park_1x_desktop.jpg 1x,
              /img/gallery/person_walking_through_a_park_2x_desktop.jpg 2x"
            media="(min-width: 1440px)"/>
           <source
            srcset="
              /img/gallery/person_walking_through_a_park_1x_tablet.jpg 1x,
              /img/gallery/person_walking_through_a_park_2x_tablet.jpg 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/personwalking1x.jpg 1x,
              /img/gallery/personwalking2x.jpg 2x"/>       
          <img src="/img/gallery/personwalking1x.jpg" alt="A person walking through a park or nature trail carrying an eco-friendly tote bag on their shoulder. Casual outfit, spring or summer scenery, with trees, grass, and soft shadows. The bag moves naturally as part of the lifestyle moment."/>
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/young_woman_holding_a_1x_desktop.jpg 1x,
                /img/gallery/young_woman_holding_a_1x_desktop.jpg 2x"
            media="(min-width: 1440px)"/>
             <source
            srcset="/img/gallery/young_woman_1x_tablet.jpg 1x,
              /img/gallery/young_woman_2x_tablet.jpg 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="/img/gallery/youngwoman1x.jpg 1x,
              /img/gallery/youngwoman2x.jpg 2x"/>
          <img src="/img/gallery/youngwoman1x.jpg" alt="A young woman holding a large eco tote bag filled with fresh vegetables and fruits at a local farmer's market. Warm sunlight, cozy atmosphere, background with wooden crates and greenery. The tote has a simple, natural design."/>
        </picture>
      </li>
    </ul>
  </div>
</section>
