<section class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
      </div>

      <div class="hero-content">
        <p class="hero-description">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero-button">Купити зараз</a>
      </div>
    </div>

    <div class="hero-image">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/hero1x_desktop.jpg 1x,
            /img/hero/hero2x_desktop.jpg 2x"/>
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /img/hero/hero_1x_tablet.jpg 1x,
            /img/hero/hero_2x_tablet.jpg 2x"/>
        <source
          media="(min-width: 320px) and (max-width: 767px)"
          srcset="/img/hero/hero_1x_mob.jpg 1x, /img/hero/hero_2x_mob.jpg 2x"/>
        <img
          src="/img/hero/hero_1x_mob.jpg"
          alt="Екологічні сумки EcoTote"
          class="hero-img"
          width="288"
          height="285"
        />
      </picture>
    </div>
  </div>
</section>
