
.about {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 112px 0 94px;

  background: url("../img/about/about1x.jpg") center/cover no-repeat;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.about * {
  position: relative;
  z-index: 2; 
}

.title-about{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #fff;
margin-bottom: 12px;
}

.about-subtitle{
font-family: "Comfortaa", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
margin-bottom: 20px;
}
.about-text{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #fff;
}

@media screen and (min-width: 768px) {
.about-container{
width: 573px;
}
.about{
padding: 80px 0;
max-width: 1439px;
background-image: url("../img/about/feature_1x_tablet.jpg");
}

@media (min-resolution: 192dpi) {
.about {
background-image: url("../img/about/feature_2x_tablet.jpg");
}
}

}
.title-about{
margin-bottom: 16px;
}

.about-subtitle{
margin-bottom: 24px;
}
.about-text{

}

@media screen and (min-width: 1440px) {
.about{
padding: 112px 0 94px;
background-image: url("../img/about/feature1x_desctop.jpg");
max-width: 100%;
}
.about-subtitle{    
font-size: 56px;

}
.about-text{
font-size: 18px;
}
}
@media (min-width: 1440px) and (min-resolution: 192dpi) {
  .about {
    background-image: url("../img/about/feature2x_desctop.jpg");
  }
}