/* .footer {
  padding: 20px 0;
}
.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pressed-state: #404bbf;
  --cloud: #f4f4fd;
}

h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
	margin-bottom: 0;

}
img {
    display: block;
}
button {
    cursor: pointer;
}
ul {
    list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
}
textarea {
    resize: none;

}
.container {
  max-width: 320px;
   margin: 0 auto;
   padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* common */
.container.footer-container {
    width: 320px;
    padding: 48px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: auto;
    background-color: #75d281;
}
.footer {
 margin: 0 auto;
 width: 100%;
  background-color: #75d281;
}
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 40px;
  width: 100%;
}
.footer-logo {
  width: 272px;
  height: 101px;
  align-items: center;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;

}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footer-nav-link {
  font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
position: relative;
}
.footer-contact {
  font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
margin-bottom: 24px;
border-top: 1px solid rgba(3, 10, 6, 0.1);
    width: 100%;
    padding-top: 24px;
}
.footer-nav-link:hover::before{
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}

@media screen and (min-width: 768px) {
  .container.footer-container {
    max-width: 768px;
    padding: 64px 32px;
  }
  .footer-top {
    gap: 32px;
  }
  .footer-logo {
    width: 164px;
    height: 70px;
  }
  .footer-socials .social-icon {
    width: 40px;
    height: 40px;
  }
  .footer-nav {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  .footer-contact {
    padding-top: 32px;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .container.footer-container {
    max-width: 1440px;
    padding: 80px 64px;
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
  }
  .footer-logo {
    width: 200px;
    height: 75px;
    flex-shrink: 0;
  }
  .footer-nav-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .footer-nav {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .footer-socials-div {
    flex-shrink: 0;
  }
  .footer-socials {
    gap: 16px;
  }
  .footer-socials .social-icon {
    width: 32px;
    height: 32px;
  }
  .footer-contact {
    padding-top: 48px;
    margin-bottom: 24px;
    gap: 32px;
  }

}