
/*      MOBILE FIRST    */


.support {
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.support-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}


.support-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-support {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    padding-bottom: 24px;
}

.part-support {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030a06;
    padding-bottom: 32px;
}

.support-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-label,
.container-comment {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-support {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
}

.input-name,
.modal-textarea {
    width: 100%;
    height: 42px;
    background: rgba(3, 10, 6, 0.05);
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
}

.modal-textarea {
    height: 180px;
    resize: none;
}

.text-valid,
.text-invalid {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 4px;
    display: none;
    padding-left: 4px;
}

.text-valid {
    color: #2E7D32;
}

.text-invalid {
    color: #D32F2F;
}


.email-input:not(:placeholder-shown):valid~.text-valid {
    display: block;
}


.email-input:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
}

.button-send {
    width: 288px;
    height: 50px;
    background: #030a06;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.input-name,
.modal-textarea {
    border: none;
    outline: none;
}

.input-name:focus,
.input-name:hover,
.input-name:active,
.modal-textarea:focus,
.modal-textarea:hover,
.modal-textarea:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.container-image-support{
    width: 288px;
    height: 428px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    background-image: url("/img/support/support1x.jpg");
    background-image: -webkit-image-set(
        url("/img/support/support1x.jpg") 1x,
        url("/img/support/support2x.jpg") 2x);
    background-image: image-set(
        url("/img/support/support1x.jpg") 1x,
        url("/img/support/support2x.jpg") 2x);
}

/*        TABLET        */

@media (min-width: 768px) {
    .support {
        padding: 64px 32px;
    }

    .support-content {
        max-width: 704px;
    }

    .button-send {
        max-width: 249px;
    }

        .button-send:hover,
        .button-send:focus {
            opacity: 0.5;
        }
    
        .button-send:active {
            background: #113916;
            border-color: #113916;
            opacity: 0.6;
            border: none;
        }
        .container-image-support {
        width: 704px;
            height: 428px;
        background-image: -webkit-image-set(
            url("/img/support/studio_space_1x_tablet.jpg") 1x,
            url("/img/support/studio_space_2x_tablet.jpg") 2x
        );
        background-image: image-set(
            url("/img/support/studio_space_1x_tablet.jpg") 1x,
            url("/img/support/studio_space_2x_tablet.jpg") 2x
        );
    }
}

/*        DESKTOP       */

@media (min-width: 1440px) {
    .support {
        padding: 64px 64px;
    }

    .support-container {
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }
.support-form{
    width: 644px;
    
}
    .support-content {
        max-width: 644px;
    }

    .container-image-support {
        flex-shrink: 0;
    }

    
    .container-image-support {
        width: 100%;      
    max-width: 644px; 
        height: 767px;
        flex-shrink: 0;
        background-image: -webkit-image-set(
            url("/img/support/studio_space_with_sketches_1x_desktop.jpg") 1x,
            url("/img/support/studio_space_with_sketches_2x_desktop.jpg") 2x
        );
        background-image: image-set(
            url("/img/support/studio_space_with_sketches_1x_desktop.jpg") 1x,
            url("/img/support/studio_space_with_sketches_2x_desktop.jpg") 2x
        );
    }
}